/* COLORS

black color         #231f20;
green/teal color    #3ddcdc;
white               #ffffff;

*/




html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('../img/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}









/* PARALLAX */

.parallax-container {
    height: 100%;
    width: 100%;
}










/* NAVIGATION */

.navlogo {
    max-width: 125px;
}

@media (max-width: 768px) {
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: 0;
    text-align: center;
    text-transform: uppercase;
  }

  .navbar-default .navbar-nav > li > a:hover {
    border-top: 2px solid #fff;
    outline: 0;
  }

  .navbar-default .navbar-nav > li > a:focus {
    border-top: 2px solid #fff;
    outline: 0;
  }

  .navbar-brand {
    opacity: 1;
  }

    .contact {
        margin-top: 100px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .contact-section {
        padding-bottom: 0;
    }
}



@media (min-width: 760px) {
        .contact {
        margin-top: 100px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .contact-section {
        padding-bottom: 50px;
    }
}


@media (min-width: 481px) {
    .landing-intro h1 {
        text-transform: uppercase;
        margin-top: 130px;
        font-size: 6em;
        font-weight: 300;
        letter-spacing: .7px;
    }

    .landing-intro h2 {
        font-size: 2.2em;
        font-weight: 400;
        letter-spacing: .7px;
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-delay: 1s;
        -webkit-animation-iteration-count: 1;
        -moz-animation-duration: 1.5s;
        -moz-animation-delay: 1s;
        -moz-animation-iteration-count: 1;
        -ms-animation-duration: 1.5s;
        -ms-animation-delay: 1s;
        -ms-animation-iteration-count: 1;
        -o-animation-duration: 1.5s;
        -o-animation-delay: 1s;
        -o-animation-iteration-count: 1;
    }

    .input-group-btn {
        letter-spacing: 0.75px;
    }

    .btn-subscribe {
        color: #000;
        background-color: #fff;
        letter-spacing: 0.75px;
    }

    /* ABOUT */

    .about-section h1 {
        text-align: left;
        font-size: 4em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .about-section h2 {
        text-align: left;
        letter-spacing: 1px;
        margin-left: 15px;
        margin-right: 15px;
    }

    /* TEAM */

    .team-section h1 {
        text-align: left;
        font-size: 4em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        color: #231f20;
    }

    #devin { 
        height:400px;
        display: inline-block;
        background:url("../img/devin1.jpg");
        background-size:cover;
    }

    #matt {
        height:400px;
        display: inline-block;
        background:url("../img/matt1.jpg");
        background-size:cover;
    }

    #nick { 
        height:400px;
        display: inline-block;
        background:url("../img/nick1.jpg");
        background-size:cover;
    }

    #teresa { 
        height:400px;
        display: inline-block;
        background:url("../img/teresa1.jpg");
        background-size:cover;
    }

    #mark { 
        height:400px;
        display: inline-block;
        background:url("../img/mark1.jpg");
        background-size:cover;
    }

    .plus h2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .plus h3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}











@media (min-width: 481px ) and (max-width: 680px) {
    .landing-intro h1 {
        text-transform: uppercase;
        margin-top: 80px;
        font-size: 5em;
        font-weight: 300;
        letter-spacing: .7px;
    }

    .landing-intro h2 {
        font-size: 2em;
        margin-left: 15px;
        margin-right: 15px;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-delay: 1s;
        -webkit-animation-iteration-count: 1;
        -moz-animation-duration: 1.5s;
        -moz-animation-delay: 1s;
        -moz-animation-iteration-count: 1;
        -ms-animation-duration: 1.5s;
        -ms-animation-delay: 1s;
        -ms-animation-iteration-count: 1;
        -o-animation-duration: 1.5s;
        -o-animation-delay: 1s;
        -o-animation-iteration-count: 1;
    }
}







@media (max-width: 481px) {
    .landing-intro h1 {
        text-transform: uppercase;
        margin-top: 80px;
        font-size: 4.7em;
        font-weight: 300;
        letter-spacing: .7px;
    }

    .landing-intro h2 {
        font-size: 1.7em;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-delay: 1s;
        -webkit-animation-iteration-count: 1;
        -moz-animation-duration: 1.5s;
        -moz-animation-delay: 1s;
        -moz-animation-iteration-count: 1;
        -ms-animation-duration: 1.5s;
        -ms-animation-delay: 1s;
        -ms-animation-iteration-count: 1;
        -o-animation-duration: 1.5s;
        -o-animation-delay: 1s;
        -o-animation-iteration-count: 1;
    }

    .form-control {
        width: 122px;
        position: relative; top: 2px;
    }

    /* ABOUT */

    .about-section h1 {
        text-align: center;
        font-size: 3em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .about-section h2 {
        text-align: left;
        letter-spacing: 1px;
        font-size: 1.2em;
        margin-left: 15px;
        margin-right: 15px;
    }

    /* TEAM */

    .team-section h1 {
        text-align: center;
        font-size: 3em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        color: #231f20;
    }

    #devin { 
        height:200px;
        width: 90%;
        display: inline-block;
        background:url("../img/devin1.jpg");
        background-size:cover;
        margin-left: 15px;
        margin-right: 15px;
    }

    #matt {
        height:200px;
        width: 90%;
        display: inline-block;
        background:url("../img/matt1.jpg");
        background-size:cover;
        margin-left: 15px;
        margin-right: 15px;
    }

    #nick { 
        height:200px;
        width: 90%;
        display: inline-block;
        background:url("../img/nick1.jpg");
        background-size:cover;
        margin-left: 15px;
        margin-right: 15px;
    }

    #teresa { 
        height:200px;
        width: 90%;
        display: inline-block;
        background:url("../img/teresa1.jpg");
        background-size:cover;
        margin-left: 15px;
        margin-right: 15px;
    }

    #mark { 
        height:200px;
        width: 90%;
        display: inline-block;
        background:url("../img/mark1.jpg");
        background-size:cover;
        margin-left: 15px;
        margin-right: 15px;
    }

    #devin .overlay,
    #mark .overlay,
    #matt .overlay,
    #teresa .overlay,
    #nick .overlay {
        background-size:cover;
        opacity:0;
        height: 100%;
        padding-top: 60px !important;
    }

    #devin:hover .overlay,
    #matt:hover .overlay,
    #nick:hover .overlay,
    #teresa:hover .overlay,
    #mark:hover .overlay {
        opacity:1;
        padding-top: 60px !important;
        cursor: pointer;
    }
}





@media (max-width: 992px) {
    .footer-section {
        position:relative;
        background-color:#231f20;
        height:200px !important;
        width:100% !important;
    }

    .contact {
        margin-top: 100px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .footer-icon {
        padding-left: 0 !important;
    }
}



@media (min-width: 992px) {
    .contact-section {
        padding-bottom: 50px;
    }

    .contact {
        margin-top: 0;
    }

    .contact-left {
        margin-right: 30px !important;
    }
}













/* LANDING */

.landing-intro {
    text-align: center;
    height: 100%;
}



h1 span {
    color: #FFFFFF;
    font-weight: 700;
}


.fa-stack        .fa { color: #231f20; }
.fa-stack        .fa.fa-circle { opacity:1; color: #fff; }

.fa-stack:hover  .fa.fa-arrow-down { color: #fff; }
.fa-stack:hover  .fa.fa-circle { opacity:1; color: #231f20; }

.landing-icon {
    margin-top: 140px;
    margin-bottom: 60px;
    text-align:center;
}

.landing-icon a {
    outline: none;
}

.landing-icon i:hover {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.subscribe {
    margin-top: 30px;
}

.input-group-btn {
    letter-spacing: 0.75px;
    text-transform: none;
}

.btn-subscribe {
    color: #000;
    background-color: #fff;
    letter-spacing: 0.75px;
    display: inline-block;
}
.btn-subscribe:focus,
.btn-subscribe.focus {
    color: #231f20;
    background-color: #e6e6e6;
}
.btn-subscribe:hover {
    color: #fff;
    background-color: #000;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}


















/* ABOUT SECTION ICONS */ 

.about-icons {
    padding-top: 60px;
}

.about-icons p {
    font-weight: 300;
    text-indent: 20px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
}










/* TWITTER WIDGET */

.twitter-spacer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
    height: 350px;
}









/* TEAM */

.team-section {
    background-color: #fff;
}


#devin .overlay,
#mark .overlay,
#matt .overlay,
#teresa .overlay,
#nick .overlay {
    /*background:rgba(61,220,220,.7);*/
    background-size:cover;
    opacity:0;
    height: 100%;
    padding-top: 150px;
}

#devin:hover .overlay,
#matt:hover .overlay,
#nick:hover .overlay,
#teresa:hover .overlay,
#mark:hover .overlay {
    opacity:1;
    padding-top: 150px;
    cursor: pointer;
}

.plus {
    font-weight:700;
    color:rgba(230,11,25,.9);
}

.plus h2 { 
    font-weight:700;
    color:rgba(255,255,255,1);
    font-size: 1.8em;
    text-align: center;
    line-height: 10px;
    margin-left: auto;
    margin-right: auto;
}

.plus h3 { 
    position: relative;
    font-weight:700;
    color:rgba(255,255,255,1);
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    line-height: 10px;
    letter-spacing: 1.5px;
    margin-left: auto;
    margin-right: auto;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.col-xs-15 {
    width: 18%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 18%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 18%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 18%;
        float: left;
    }
}






















/* PERSONAL DESCRIPTION BUTTONS */


.input-group-btn a:hover {
    text-decoration: none !important;
}

.btn-personal {
    color: #231f20;
    background-color: #3ddcdc;
    letter-spacing: 0.75px;
    border-radius: 0;
    margin-bottom: 10px;
}
.btn-personal:focus,
.btn-personal.focus {
    color: #231f20;
    background-color: #3ddcdc;
}
.btn-personal:hover {
    color: #fff;
    background-color: #231f20;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}








/* CONTACT - LEFT SIDE */

hr {
    background-color: #fff;
    width: 110px;
    height: 1px;
    border: 0;
    margin-bottom: 60px;
}

.contact-section {
    letter-spacing: 1px;
}

.contact-left {
    margin-left: 15px;
    margin-right: 70px;
}

.contact-section h1 {
    text-align: left;
    font-weight: 700;
    font-size: 4em;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
}

.contact-section h2 {
    text-align: left;
    font-size: 4em;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
}

.contact-section h3 {
    text-align: left;
    font-size: 1em;
    line-height: 1px;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 30px;
    padding: 0;
}

.contact-section span {
    font-weight: 700;
}

.contactinfo a:hover {
    color: #231f20;
}











/* CONTACT FORM */

#contact {
    text-align: left;
}

.contact-titles {
    color: #fff;
    font-size: 16px;
    background-color: #231f20;
    padding-left: 15px;
    text-align: left;
    width: 100%;
}

#contact .field {
    text-align: left;
    padding: 0 0 0px 0;
}

.contactinfo {
    text-align: left;
    text-transform: uppercase;
}

.contactinfo h1 {
    font-size: 1em;
    text-align: left;
    margin-bottom: 2px;
}

hr.contactseperator {
    margin-left: 0;
    margin-bottom: 0;
    border: 0;
    height: 1px;
    background-color: #231f20;
}

.success-or-error-message {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 50px;
}

#contact .input-text {width: 100%;margin-bottom:10px;height:50px;padding:0 10px;font-weight: 400;font-size:14px;border-radius: 0 !important;}
#contact .input-textarea {width: 100%;margin-bottom:8px;height:120px;padding:10px;resize:none;font-size:14px;font-weight: 400;overflow:hidden;border-radius: 0 !important;}

.required {
    color:#231f20;
}
#success, #error {
    display:none;
}
#success span, #error span {
    display:block;
    position:absolute;
}
#success span, #error span {
    margin-top: 10px;
}
#success span {
    text-align: center;
    width: 100%;
    color: #222;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 50px;
}
#error span {
    text-align: center;
    width: 100%;
    color: #231f20;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 50px;
}

.submit-button {
    height: 60px;
    width: 100%;
    color: #fff;
    background-color: #222;
    border-style: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.submit-button:hover {
    height: 60px;
    width: 100%;
    color: #231f20;
    background-color: #fff;
    border-style: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 0;
  background-color: rgba(255, 255, 255, .7);
  margin-bottom: 2px;
  font-size: 14px;
}

input[type=text]:focus, textarea:focus {
  background-color: #fff;
  color: #231f20;
  border: 0;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px !important;
  font-size: 14px;
}

form input[type="text"][disabled], form textarea[disabled] {
    background:#fff;
    border: 0;
    font-size: 14px;
}
form input[type="text"].error, form textarea.error {
    background:#fff;
    border-color:#c0392b;
    color: #231f20;
    border: 0;
    font-size: 14px;
}

label.error {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-left: 15px;
    border: 0;
}

.spinner {
    color: #231f20;
    text-align:center;
    z-index: 1234;
    overflow: auto;
    padding-top: 10px;
    width: 100%;
}












/* FOOTER */

.fin {
    padding-top: 70px;
    text-align: center;
    background-color: #3DDCDC;
}

.footer-section {
    position:relative;
    background-color:#231f20;
    height:90px;
    width:100% !important;
}

.footer-info {
    color: #fff;
    letter-spacing: 1px;
	padding-top: 30px;
    padding-bottom: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.fa-stack:hover  .fa.fa-twitter { color: #fff; }
.fa-stack:hover  .fa.fa-facebook { color: #fff; }
.fa-stack:hover  .fa.fa-instagram { color: #fff; }

.footer-icon {
    padding-left: 80px;
    padding-top: 15px;
    text-align:center;
}

.footer-icon a {
    outline: none;
}

.footer-icon i:hover {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}